body,
html {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

/* turns off the video on mobile and adds a picture instead */
@media (max-width: 767px) {
  .video-bg {
    display: none;
  }
  .bg-img {
    background: url("../../images/jordan-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.white {
  color: white;
}

.centered {
  text-align: center;
}

.margin-auto {
  display: block;
  width: 100%;
  max-width: 100px;
  margin: 35px auto;
}

.boxed {
  border: solid 2px black;
  background: black;
  padding: 10px;
  width: 85%;
  margin: 0px auto;
}

.first-node {
  margin-top: 0;
  padding-top: 25px;
  width: 85%;
  margin: 0px auto;
  font-size: 24px;
  font-weight: bold;
}

.big-space {
  margin-top: 350px;
}

/* styles for the sources menu, taken from w3schools at https://www.w3schools.com/howto/howto_js_dropdown.asp */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  float: left;
  margin-top: 100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/* end */

.first-player-header {
  padding-top: 20px;
}

.player-header {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

/* these lines of code set the size of the player image and position it at the bottom of the page */
.player-image {
  height: 275px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.div-wrapper {
  position: relative;
}

.avatar {
  vertical-align: middle;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: solid 5px white;
  object-fit: cover;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
}

/* team colors */
.blue {
  background-color: #056bb7;
  height: 100%;
}

.maroon {
  background-color: #701f39;
  height: 100%;
}

.heat-red {
  background-color: #8f001b;
  height: 100%;
}

.philly-red {
  background-color: #ee1815;
  height: 100%;
}

.chicago-red {
  background-color: #cf0540;
  height: 100%;
}

.purple {
  background-color: #532387;
  height: 100%;
}

.green {
  background-color: #008447;
  height: 100%;
}

/* other desktop styles */
p {
  margin: 20px;
  line-height: 1.5;
  margin-top: 10px;
}

/* these are the styles for the stats uls */
.stats {
  list-style: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* css for the intersection */
body {
  transition: background-color 1s;
}
section {
  transition: background-color 1s;
  opacity: 0;
  transform: scale(0.5);
  transition: all 500ms;
  height: 100%;
}
section.active {
  opacity: 1;
  transform: scale(1);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* hover effect for images */
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

/* desktop styles */
@media (min-width: 767px) {
  /* video background */
  .video-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  /* general style changes like font sizes */
  .first-node {
    font-size: 48px;
  }

  body {
    font-size: 24px;
  }

  .dropbtn {
    font-size: 16px;
  }

  .dropdown-content {
    font-size: 16px;
  }

  /* setting up the grid format for the player slides */
  .stats {
    list-style: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    padding: 0;
  }

  .desktop-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
  }

  .avatar {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: solid 5px white;
    object-fit: cover;
    justify-content: center;
  }

  .item2 {
    margin-top: 0;
  }

  .item3 {
    margin-top: 0;
  }
}
